.input{
   height: 50px;
   width: 600px;
   border-radius: 3px;
   background-color: aliceblue;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-left: 400px;
}

input{
    border: none;
    background: none;
    margin-left: 12px;
    flex: 1;

}

input:focus{
    outline: none;
}

button{
margin-right: 8px;
background-color: lightseagreen;
border: none;
border-radius: 3px;
height: 30px;
width: 40px;

}

