.todoItem{
    height: 50px;
    width: 600px;
    border-radius: 3px;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 400px;

}

